@font-face {
    font-family: 'Fira Code';
    src: url('../assets/fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Fira Code SemiBold';
    src: url('../assets/fonts/FiraCode-SemiBold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-clr: #FFF;
    --dark-clr: #23272A;
    --blue-clr: #82C3F4;
    --bg-color: #0D0F10;
    --off-white-clr: #f6f6f6;
    --general-font-size: 1.1rem;
    --primary-title-font-size: 2.2rem;
    --main-font-family-regular: 'Fira Code', monospace;
    --main-font-family-semibold: 'Fira Code SemiBold', monospace;
    --section-spacing: 5.6rem 2.4rem;
    --container-width: 620px;
    --container-height: 800px;
}

body {
    background-color: var(--bg-color);
    background-image: url("../assets/img/background-png-1920x1080.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--main-font-family-regular);
    font-size: var(--general-font-size);
}

.container {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    width: 100%;
    max-width: var(--container-width);
    max-height: var(--container-height);
    background-color: #23272A;
}

.hero-content-text {
    text-align: center;
    color: var(--light-clr);
}

.hero-title {
    font-size: var(--primary-title-font-size);
    font-family: var(--main-font-family-semibold);
    line-height: 120%;
    padding: 2rem 2rem 0 2rem;
}

.hero-title strong {
    color: var(--blue-clr);
}

.hero-description {
    line-height: 2rem;
    padding: 2.5rem 0;
}

.hero-links {
    display: flex;
    font-size: 2.5rem;
    gap: 1.5rem;
    padding: 2.5rem 0;
    cursor: pointer;
}

.hero-links a {
    color: var(--light-clr);
    text-decoration: none;
}

.hero-btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.hero-btn-wrap .btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1.8rem;
    text-decoration: none;
    background-color: var(--blue-clr);
    color: var(--dark-clr);
    transition: background-color 0.2s ease-in-out;
}

.btn-primary i {
    align-self: center;
    margin-right: .8rem;
}

.btn-primary:hover {
    background-color: #32A5FC;
    box-shadow: 0 .8rem rgba(0,0,0,.1);
}

@media screen and (max-width: 991px) {
    :root {
        --general-font-size: 1rem;
        --primary-title-font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --general-font-size: 1.1rem;
        --primary-title-font-size: 2.2rem;
    }

    .container {
        flex-direction: column;
        height: 100%;
        margin: 1rem auto;
        gap: 2rem;
    }

    .hero-content {
        height: 100vh;
    }
}

@media screen and (max-width: 479px) {

}