@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Fira Code SemiBold';
    src: url('../fonts/FiraCode-SemiBold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --light-clr: #FFF;
    --bg-clr: #1C1B1F;
    --index-font-size: 1rem;
    --index-primary-title-font-size: 3.5rem;
    --index-main-font-family-regular: 'Epilogue', sans-serif;
}

body {
    background-color: var(--bg-clr);
    font-family: var(--index-main-font-family-regular);
    font-size: var(--index-font-size);
    color: var(--light-clr);
}

/* START OF INDEX.HTML */

#blob {
    height: 200px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 80%;
    animation: rotate 20s infinite;
    background: linear-gradient(
            to right,
            #F5ECFF,
            #00C89C
    );
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(200px);
}

@keyframes rotate {
    from {
    rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
}

.container {
    position: relative;
    z-index: 3;
}

.hero__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 10dvh;
    width: 100dvw;
    margin: 0 auto;
}

.header__right {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hero__header img {
    align-self: center;
    width: 2rem;
    height: 2rem;
}

.hero__header a {
    color: var(--light-clr);
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 80dvh;
    width: 80dvw;
    margin: 0 auto;
}

.hero__logo img {
    width: 100%
}

.hero__title h1 {
    font-size: var(--index-primary-title-font-size);
    font-weight: 400;
    line-height: 1.2;
}

.btn-primary {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: #FFFFFF 2px solid;
    background-color: var(--bg-clr);
    color: var(--light-clr);
    transition: all 0.3s ease-in-out;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-primary:hover {
    background-color: var(--light-clr);
    color: var(--bg-clr);
}

.is--disabled {
    display: none;
}

@media screen and (max-width: 1280px) {
    #blob {
        display: none;
    }
    #blur {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .hero__content {
        padding-top: 2rem;
    }

    .hero__title h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 450px) {
    .hero__title h1 {
        font-size: 2rem;
    }
}

/* END OF INDEX.HTML */